.emojiReplaceableText {
  color: var(--ifm-color-primary);
}

.emojiReplaceableText > img {
  filter: none;
  filter: drop-shadow(0 0.1rem 0.15rem rgb(0 0 0 / 30%));
  -webkit-filter: drop-shadow(0 0.1rem 0.15rem rgb(0 0 0 / 30%));
}

.emojiReplaceableText:hover {
  cursor: pointer;
}

.photo {
  border-radius: 25%;
  border: 1px solid rgb(0 0 0 / 50%);
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 10%),
    0 1px 2px 0 rgb(0 0 0 / 6%);
  filter: none;
}

.emoji {
  border-radius: 0;
  border: none;
}

.allyText {
  display: none;
}
