.sidebar {
  max-height: calc(100vh - var(--ifm-navbar-height) - 4rem);
  overflow-y: auto;
  position: sticky;
  top: calc(var(--ifm-navbar-height) + 2rem);
  text-align: end;
  padding: 1.75rem;
  opacity: var(--unhovered-transparency);
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 1;
  }

  @media (width <= 62.25rem) {
    display: none;
  }
}

.sidebarItemTitle {
  font-size: var(--ifm-h3-font-size);
  font-weight: var(--ifm-font-weight-bold);
  margin: 0 0.75rem;
}

.sidebarItemList {
  font-size: 1rem;
  text-wrap: balance;
}

.sidebarItem {
  padding: 0.5rem;
  border-radius: var(--border-radius);

  &:hover {
    background-color: var(--ifm-menu-color-background-active);
  }
}

.sidebarItemLink {
  color: var(--ifm-font-color-base);
  filter: grayscale(100%);
  display: block;
  transition: filter 0.2s ease-in-out;

  &:hover {
    color: var(--ifm-font-color-base);
    filter: none;
    text-decoration: none;
  }
}

.sidebarItem > .sidebarItemLinkActive {
  color: var(--ifm-color-primary) !important;
  filter: none;
}
