.sidebar {
  max-height: var(--sidebar-max-height);
  overflow-y: auto;
  position: sticky;
  top: var(--sticky-top);
  border-radius: var(--border-radius);
  text-align: end;
  padding: 1.75rem 2.5rem 1.75rem 1.75rem;
  opacity: var(--unhovered-transparency);
  transition: opacity var(--transition-fast);
}

.sidebar:hover {
  opacity: 1;
}

.sidebarItemTitle {
  font-size: var(--ifm-h3-font-size);
  font-weight: var(--ifm-font-weight-bold);
  margin: 0 0.75rem;
}

.sidebarItemList {
  font-size: 1rem;
  text-wrap: balance;
}

.sidebarItem {
  padding: 0.5rem;
  border-radius: var(--border-radius);
  transition:
    filter var(--transition-fast),
    background-color var(--transition-fast);
}

.sidebarItem:hover {
  background-color: var(--ifm-menu-color-background-active);
  filter: none;
}

.sidebarItemLink {
  color: var(--ifm-font-color-base);
  filter: grayscale(100%);
  display: block;
  transition: filter var(--transition-fast);
}

.sidebarItemLink:hover {
  color: var(--ifm-font-color-base);
  filter: none;
  text-decoration: none;
}

.sidebarItemLinkActive {
  filter: none;
}

.sidebarItem > .sidebarItemLinkActive {
  color: var(--ifm-color-primary) !important;
  filter: none;
}

@media (width <= 996px) {
  .sidebar {
    display: none;
  }
}
