.sidebar {
  max-height: calc(
    100vh - (var(--ifm-navbar-height) + 2rem)
  );
  overflow-y: auto;
  position: sticky;
  top: calc(var(--ifm-navbar-height) + 2rem);
  opacity: var(--unhovered-transparency);
  padding: var(--padding);
  border-radius: var(--border-radius);
  text-align: end;
  padding: 1.6rem 3rem 1.6rem 1rem;
}

.sidebar:hover {
  background-color: var(--ifm-menu-color-background-active);
}

.sidebar {
  transition: background-color 0.2s ease-in-out;
}

.sidebarItemTitle {
  font-size: var(--ifm-h3-font-size);
  font-weight: var(--ifm-font-weight-bold);
}

.sidebarItemList {
  font-size: 1rem;
}

.sidebarItem {
  margin-top: 0.7rem;
}

.sidebarItemLink {
  color: var(--ifm-font-color-base);
  display: block;
}

.sidebarItemLink:hover {
  text-decoration: none;
}

.sidebarItemLinkActive {
  color: var(--ifm-color-primary) !important;
}

@media (max-width: 996px) {
  .sidebar {
    display: none;
  }
}
