.sidebar {
  max-height: calc(100vh - (var(--ifm-navbar-height) + 4rem));
  overflow-y: auto;
  position: sticky;
  top: calc(var(--ifm-navbar-height) + 2rem);
  padding: var(--padding);
  border-radius: var(--border-radius);
  text-align: end;
  padding: 1.75rem 2.5rem 1.75rem 1.75rem;
  opacity: var(--unhovered-transparency);
  transition: opacity 0.2s ease-in-out;
}

.sidebar:hover {
  opacity: 1;
}

.sidebarItemTitle {
  font-size: var(--ifm-h3-font-size);
  font-weight: var(--ifm-font-weight-bold);
  margin: 0 0.75rem;
}

.sidebarItemList {
  font-size: 1rem;
}

.sidebarItem {
  padding: 0.5rem;
  border-radius: var(--border-radius);
  transition:
    filter 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}

.sidebarItem:hover {
  background-color: var(--ifm-menu-color-background-active);
  filter: none;
}

.sidebarItemLink {
  color: var(--ifm-font-color-base);
  filter: grayscale(100%);
  display: block;
  transition: filter 0.2s ease-in-out;
}

.sidebarItemLink:hover {
  color: var(--ifm-font-color-base);
  filter: none;
}

.sidebarItemLinkActive {
  filter: none;
}

.sidebarItemLink:hover {
  text-decoration: none;
}

.sidebarItem > .sidebarItemLinkActive {
  color: var(--ifm-color-primary) !important;
  filter: none;
}

@media (max-width: 996px) {
  .sidebar {
    display: none;
  }
}
