.docItemContainer {
  & header + *,
  & article > *:first-child {
    margin-top: 0;
  }

  @media (width <= 996px) {
    padding: 0 1rem;
  }
}

.docItemCol {
  @media (width >= 997px) {
    max-width: 80% !important;
  }
}
