.authorCol {
  max-width: inherit !important;
  flex-grow: 1 !important;
  margin: auto;
  width: fit-content;
}

.imageOnlyAuthorRow {
  display: flex;
  flex-flow: row wrap;
}

.imageOnlyAuthorCol {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}
