.backlinkTable {
  width: 100%;
  height: 100%;
  padding: var(--ifm-global-spacing);
  margin-top: var(--ifm-spacing-vertical);
  border-radius: var(--ifm-pagination-nav-border-radius);
  border: 2px solid var(--ifm-menu-color-background-active);
}

.backlinkTableH2 {
  font-size: 0.8rem;
  color: var(--color-text-muted);
}

.backlinkGridView {
  margin: 1rem auto;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  @media (max-width: 480px) {
    grid-template-columns: 1fr;
  }
}

.backlinkMentionedFileName {
  margin: 0;
  font-size: 1rem;
  padding: calc(var(--border-radius) / 4);
  padding-bottom: 0.5rem;

  @media (max-width: 480px) {
    font-size: 0.9rem;
  }
}

.backlinkItem {
  border-radius: var(--border-radius);
  transition: background-color var(--transition-fast);

  &:hover {
    background-color: var(--ifm-menu-color-background-active);
  }
}

.backlinkItemLink {
  &:hover {
    text-decoration: none;
  }
}

.backlinkItemText {
  font-size: 0.8rem;
  white-space: pre-wrap;
  color: var(--color-text-subtle);
  margin: 0;

  @media (max-width: 480px) {
    font-size: 0.75rem;
  }
}

.highlight {
  color: var(--ifm-color-emphasis-900);
}

.noBacklink {
  font-size: 0.8rem;
  color: var(--color-text-subtle);
}

@media (max-width: 320px) {
  .backlinkGridView {
    gap: 0.375rem;
  }
}
