.backlinkTable {
  width: 100%;
  height: 100%;
  padding: var(--ifm-global-spacing);
  margin-top: var(--ifm-spacing-vertical);
  border-radius: var(--ifm-pagination-nav-border-radius);
  border: 2px solid var(--ifm-menu-color-background-active);
}

.backlinkTableH2 {
  font-size: 0.8rem;
  color: var(--ifm-color-emphasis-400);
}

.backlinkGridView {
  margin: 1rem auto;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.backlinkMentionedFileName {
  margin: 0;
  font-size: 1rem;
  padding: calc(var(--border-radius) / 4);
  padding-bottom: 0.5rem;
}

.backlinkItem {
  border-radius: var(--border-radius);
  transition: background-color 0.2s ease-in-out;
}

.backlinkItem:hover {
  background-color: var(--ifm-menu-color-background-active);
}

.backlinkItemLink:hover {
  text-decoration: none;
}

.backlinkItemText {
  font-family: var(--ifm-font-family-san-serif);
  font-size: 0.8rem;
  white-space: pre-wrap;
  color: var(--ifm-color-emphasis-700);
  margin: 0;
}

.highlight {
  color: var(--ifm-color-emphasis-900);
}

.noBacklink {
  font-size: 0.8rem;

  color: var(--ifm-color-emphasis-700);
}
