.container {
  position: relative;
}

.glass {
  border-radius: 999px;
  box-shadow:
    0 18px 40px rgba(0, 0, 0, 0.18),
    inset 0 0 24px rgba(255, 255, 255, 0.35);
  padding: 6px 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button {
  background: none;
  padding: 8px;
  color: #0a84ff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #fff4;
  border-radius: 0;
  user-select: none;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-weight: 500;
  font-size: 24px;
}

.button > span {
  display: flex;
  gap: 8px;
  align-items: center;
}

.cursor {
  pointer-events: none;
}

.filter {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  pointer-events: none;
}
