.container {
  position: relative;
}

.button {
  background: none;
  padding: 8px;
  color: #0a84ff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #fff4;
  border-radius: 0;
  user-select: none;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-weight: 500;
  font-size: 24px;
}

.button > span {
  display: flex;
  gap: 8px;
  align-items: center;
}

.cursor {
  pointer-events: none;
}
