.flex {
  display: flex;
  justify-content: space-between;
}

.item {
  display: flex;
  position: relative;
  aspect-ratio: 1/1;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 1.5rem;
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  max-width: 300px;
}

.wide {
  grid-column: span 2;
}

.photo {
  width: 75%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 0.75rem;
  margin: 0;
}

.icon {
  width: 15%;
  height: 15%;
  border-radius: 0;
  object-fit: contain;
  margin: 0;
}

.title {
  font-size: 1rem;
  font-weight: 600;
  margin: 0.5rem 0 0 0;
  letter-spacing: 0;
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
}

.description {
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0;
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
}

[data-theme='dark'] .photo {
  filter: brightness(1);
}

[data-theme='dark'] .icon {
  filter: brightness(1);
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
}
