.container {
  display: grid;
  place-items: center;
  height: 100dvh;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.diceButton {
  display: grid;
  place-items: center;
  width: 10rem;
  height: 10rem;
  border: none;
  cursor: pointer;
  background-color: transparent;

  @media (max-width: 30rem) {
    width: 8rem;
    height: 8rem;
  }
}

.diceButton:disabled {
  cursor: wait;
  opacity: 0.6;
}

.dice {
  font-size: 4rem;
  animation: rotating 1s linear infinite;

  @media (max-width: 30rem) {
    font-size: 3rem;
  }
}

.error {
  margin-top: 1rem;
  color: var(--ifm-color-danger);
  font-size: 0.95rem;
  text-align: center;
}
