.container {
  display: grid;
  place-items: center;
  height: 100dvh;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.diceButton {
  display: grid;
  place-items: center;
  width: 10rem;
  height: 10rem;
  border: none;
  cursor: pointer;
  background-color: transparent;

  @media (max-width: 480px) {
    width: 8rem;
    height: 8rem;
  }
}

.dice {
  font-size: 4rem;
  animation: rotating 1s linear infinite;

  @media (max-width: 480px) {
    font-size: 3rem;
  }
}
