.youtube {
  width: 100%;
  max-height: 25rem;
  aspect-ratio: 16 / 9;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  border: 2px solid var(--color-border);
}
