.displayFlex {
  display: flex;
  overflow: scroll;
  column-gap: 1rem;
  margin: 0.5rem 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.displayFlex::-webkit-scrollbar {
  display: none;
}
