@import url('./navbar.css');
@import url('./color.css');
@import url('./external-link.css');
@import url('./highlight.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('tw-animate-css');

@custom-variant dark (&:is(.dark *));

* {
  --ifm-font-family-base:
    system-ui, -apple-system, blinkmacsystemfont, ui-sans-serif, 'Apple SD Gothic Neo', 'Apple Color Emoji', 'SF Pro',
    'Segoe UI', roboto, oxygen-sans, ubuntu, cantarell, 'Helvetica Neue', sans-serif !important;
  --ifm-font-family-monospace: 'Goorm Sans Code', ui-monospace, 'SF Mono', sfmono-regular, menlo, consolas, monospace;
  --font-family-sans-serif: var(--ifm-font-family-base);
  --font-family-headline: var(--ifm-font-family-base);
  --font-family-monospace: var(--ifm-font-family-monospace);

  word-wrap: break-word;
  word-break: keep-all;
  color-scheme: dark light;
  font-feature-settings:
    'rlig', 'calt', 'case', 'ccmp', 'dlig', 'salt', 'tnum', 'zero', 'ss01', 'ss02', 'ss03', 'ss05', 'ss06', 'ss08',
    'ss15';

  --unhovered-transparency: 10%;
  --padding: 1rem;
  --border-radius: 0.25rem;
  --ifm-container-width-xxl: 1600px;

  --ifm-h1-font-size: 2rem;
  --ifm-h2-font-size: 1.5rem;
  --ifm-h3-font-size: 1.25rem;
  --ifm-h4-font-size: 1rem;
  --ifm-h5-font-size: 0.875rem;
  --ifm-h6-font-size: 0.85rem;

  max-width: 100dvw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-headline);
}

article,
aside,
footer,
header,
nav,
section,
figure,
figcaption,
blockquote,
dl,
dd,
dt,
fieldset,
form,
legend,
li,
main,
ol,
p,
pre,
ul,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
button,
input,
textarea {
  font-family: var(--font-family-sans-serif);
}

pre,
code {
  font-family: var(--font-family-monospace);
}

@media screen and (width >= 996px) {
  .navbar__inner {
    margin: 0 auto;
    padding: 0 1rem;
  }
}

h1,
h2,
h3,
h4 {
  letter-spacing: -0.025em;
}

.theme-code-block,
pre,
code {
  max-width: calc(100dvw - 2 * var(--ifm-spacing-horizontal));
  margin: 0 auto;
}

[data-theme='dark'] * {
  --ifm-background-color: #121212 !important;
}

.table-of-contents__link--active {
  filter: none !important;
}

.table-of-contents__link {
  filter: grayscale(100%);
  padding: 0.5rem;
  border-radius: var(--border-radius);
  transition:
    filter 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}

.table-of-contents__link:hover {
  filter: none;
  background-color: var(--ifm-menu-color-background-active);
}

.table-of-contents {
  font-size: 1rem;
}

#divider {
  border: 0.5px solid var(--ifm-menu-color-background-active);
}

details {
  border: thin solid var(--ifm-menu-color-background-active);
  border-radius: var(--border-radius);
  padding: 0.5rem 0.5rem 0;
}

summary {
  font-weight: bold;
}

figure {
  display: flex;
  flex-flow: column;
  border-radius: var(--border-radius);
  overflow: hidden;
  margin: 0.2rem auto;
  max-width: 100dvw;
}

iframe {
  max-width: 100dvw;
  margin: 0 auto;
  border-radius: var(--border-radius);
}

img {
  margin: 0 auto;
  border-radius: var(--border-radius);
  max-height: 50rem;
  width: auto;
}

figure > p {
  margin: 0;
}

figure > figure {
  margin: 0;
}

figure > p > img {
  display: block;
  margin: 0.5rem auto;
  padding: 0;
}

figcaption {
  text-align: center;
  margin: 0 auto 0.5rem;
  font-size: 0.8rem;
  color: var(--ifm-color-emphasis-700);
}

hr {
  border: 1px solid var(--ifm-color-emphasis-200);
}

table {
  display: table;
  margin: 1rem auto;
  overflow: auto;
}

[data-theme='dark'] img {
  filter: brightness(0.7);
  transition: filter 0.2s ease-in-out;
}

.navbar__logo > img {
  filter: none;
}

[data-theme='dark'] img:hover {
  filter: brightness(1);
}

.pagination-nav__link--next .pagination-nav__label::after {
  content: '';
}

.pagination-nav__link--prev .pagination-nav__label::before {
  content: '';
}

.pagination-nav__link {
  border: 2px solid var(--ifm-menu-color-background-active);
  transition: background-color 0.2s ease-in-out;
}

.pagination-nav__link:hover {
  border: 2px solid var(--ifm-menu-color-background-active);
  background-color: var(--ifm-menu-color-background-active);
}

.pagination-nav__sublabel {
  font-size: 0.8rem;
  color: var(--ifm-color-emphasis-400);
}

.pagination-nav__label {
  font-size: 1rem;
}

.navbar-sidebar {
  height: 100vh;
  height: 100dvh;
}

.math {
  overflow-x: scroll;
}

:root {
  --background: oklch(100% 0 0deg);
  --foreground: oklch(14.5% 0 0deg);
  --card: oklch(100% 0 0deg);
  --card-foreground: oklch(14.5% 0 0deg);
  --popover: oklch(100% 0 0deg);
  --popover-foreground: oklch(14.5% 0 0deg);
  --primary: oklch(20.5% 0 0deg);
  --primary-foreground: oklch(98.5% 0 0deg);
  --secondary: oklch(97% 0 0deg);
  --secondary-foreground: oklch(20.5% 0 0deg);
  --muted: oklch(97% 0 0deg);
  --muted-foreground: oklch(55.6% 0 0deg);
  --accent: oklch(97% 0 0deg);
  --accent-foreground: oklch(20.5% 0 0deg);
  --destructive: oklch(57.7% 0.245 27.325deg);
  --destructive-foreground: oklch(57.7% 0.245 27.325deg);
  --border: oklch(92.2% 0 0deg);
  --input: oklch(92.2% 0 0deg);
  --ring: oklch(70.8% 0 0deg);
  --chart-1: oklch(64.6% 0.222 41.116deg);
  --chart-2: oklch(60% 0.118 184.704deg);
  --chart-3: oklch(39.8% 0.07 227.392deg);
  --chart-4: oklch(82.8% 0.189 84.429deg);
  --chart-5: oklch(76.9% 0.188 70.08deg);
  --radius: 0.625rem;
  --sidebar: oklch(98.5% 0 0deg);
  --sidebar-foreground: oklch(14.5% 0 0deg);
  --sidebar-primary: oklch(20.5% 0 0deg);
  --sidebar-primary-foreground: oklch(98.5% 0 0deg);
  --sidebar-accent: oklch(97% 0 0deg);
  --sidebar-accent-foreground: oklch(20.5% 0 0deg);
  --sidebar-border: oklch(92.2% 0 0deg);
  --sidebar-ring: oklch(70.8% 0 0deg);
}

.dark {
  --background: oklch(14.5% 0 0deg);
  --foreground: oklch(98.5% 0 0deg);
  --card: oklch(14.5% 0 0deg);
  --card-foreground: oklch(98.5% 0 0deg);
  --popover: oklch(14.5% 0 0deg);
  --popover-foreground: oklch(98.5% 0 0deg);
  --primary: oklch(98.5% 0 0deg);
  --primary-foreground: oklch(20.5% 0 0deg);
  --secondary: oklch(26.9% 0 0deg);
  --secondary-foreground: oklch(98.5% 0 0deg);
  --muted: oklch(26.9% 0 0deg);
  --muted-foreground: oklch(70.8% 0 0deg);
  --accent: oklch(26.9% 0 0deg);
  --accent-foreground: oklch(98.5% 0 0deg);
  --destructive: oklch(39.6% 0.141 25.723deg);
  --destructive-foreground: oklch(63.7% 0.237 25.331deg);
  --border: oklch(26.9% 0 0deg);
  --input: oklch(26.9% 0 0deg);
  --ring: oklch(43.9% 0 0deg);
  --chart-1: oklch(48.8% 0.243 264.376deg);
  --chart-2: oklch(69.6% 0.17 162.48deg);
  --chart-3: oklch(76.9% 0.188 70.08deg);
  --chart-4: oklch(62.7% 0.265 303.9deg);
  --chart-5: oklch(64.5% 0.246 16.439deg);
  --sidebar: oklch(20.5% 0 0deg);
  --sidebar-foreground: oklch(98.5% 0 0deg);
  --sidebar-primary: oklch(48.8% 0.243 264.376deg);
  --sidebar-primary-foreground: oklch(98.5% 0 0deg);
  --sidebar-accent: oklch(26.9% 0 0deg);
  --sidebar-accent-foreground: oklch(98.5% 0 0deg);
  --sidebar-border: oklch(26.9% 0 0deg);
  --sidebar-ring: oklch(43.9% 0 0deg);
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}
