.navbar-github-link,
.navbar-linkedin-link,
.navbar-wallet-link {
  &::before {
    content: "";
    width: 1.25rem;
    height: 1.25rem;
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.navbar-github-link::before {
  background-image: url("/icons/github.svg");
}

html[data-theme="dark"] .navbar-github-link::before {
  background-image: url("/icons/github-dark.svg");
}

.navbar-linkedin-link::before {
  background-image: url("/icons/linkedin.svg");
}

html[data-theme="dark"] .navbar-linkedin-link::before {
  background-image: url("/icons/linkedin-dark.svg");
}

.navbar-wallet-link::before {
  background-image: url("/icons/wallet.svg");
  width: 1.75rem;
  height: 1.75rem;
}

html[data-theme="dark"] .navbar-wallet-link::before {
  background-image: url("/icons/wallet-dark.svg");
}

.navbar {
  background-color: var(--navbar-glass-bg);
  backdrop-filter: blur(1.25rem) saturate(180%);
}
