.navbar-github-link,
.navbar-linkedin-link,
.navbar-wallet-link {
  &::before {
    content: "";
    width: 20px;
    height: 20px;
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.navbar-github-link::before {
  background-image: url("/icons/github.svg");

  [data-theme="dark"] & {
    background-image: url("/icons/github-dark.svg");
  }
}

.navbar-linkedin-link::before {
  background-image: url("/icons/linkedin.svg");

  [data-theme="dark"] & {
    background-image: url("/icons/linkedin-dark.svg");
  }
}

.navbar-wallet-link::before {
  background-image: url("/icons/wallet.svg");
  width: 28px;
  height: 28px;

  [data-theme="dark"] & {
    background-image: url("/icons/wallet-dark.svg");
  }
}

.navbar {
  background-color: var(--navbar-glass-bg);
  backdrop-filter: blur(20px) saturate(180%);
}
