.searchGoogleButton {
  /* bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" */
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #ffffff;
  color: #1f2937;
  font-weight: 600;
  border-radius: 0.25rem;
  border-width: 1px;
  border-color: #9ca3af;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.searchGoogleButton:hover {
  background-color: #f3f4f6;
  text-decoration: none;
}

[data-theme='dark'] .searchGoogleButton {
  background-color: #1b1b1d;
  color: #ffffff;
  border-color: #9ca3af;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

[data-theme='dark'] .searchGoogleButton:hover {
  background-color: #242526;
  text-decoration: none;
}

.old {
  --ifm-alert-background-color: var(--ifm-color-danger-contrast-background);
  --ifm-alert-background-color-highlight: rgba(250, 56, 62, 0.15);
  --ifm-alert-foreground-color: var(--ifm-color-danger-contrast-foreground);
  --ifm-alert-border-color: var(--ifm-color-danger-dark);
  --ifm-code-background: var(--ifm-alert-background-color-highlight);
  --ifm-link-color: var(--ifm-alert-foreground-color);
  --ifm-link-hover-color: var(--ifm-alert-foreground-color);
  --ifm-link-decoration: underline;
  --ifm-tabs-color: var(--ifm-alert-foreground-color);
  --ifm-tabs-color-active: var(--ifm-alert-foreground-color);
  --ifm-tabs-color-active-border: var(--ifm-alert-border-color);
  background-color: var(--ifm-alert-background-color);
  border: var(--ifm-alert-border-width) solid var(--ifm-alert-border-color);
  border-left-width: var(--ifm-alert-border-left-width);
  border-radius: var(--ifm-alert-border-radius);
  box-shadow: var(--ifm-alert-shadow);
  padding: var(--ifm-alert-padding-vertical) var(--ifm-alert-padding-horizontal);
  color: var(--ifm-alert-foreground-color);
}

.iconspan {
  margin-right: 0.5rem;
}

.icon {
  fill: var(--ifm-alert-foreground-color);
}
