.searchGoogleButton {
  /* bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" */
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: rgb(255, 255, 255);
  font-weight: 600;
  border-radius: 0.25rem;
  border-width: 1px;
  border-color: #9ca3af;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.searchGoogleButton:hover {
  background-color: rgb(255, 237, 186);
  text-decoration: none;
}

[data-theme='dark'] .searchGoogleButton {
  background-color: rgb(118, 96, 35);
  color: #ffffff;
  border-color: #9ca3af;
  box-shadow: 0 1px 3px 0 rgba(20, 20, 0, 0.1), 0 1px 2px 0 rgba(20, 20, 0, 0.06);
}

[data-theme='dark'] .searchGoogleButton:hover {
  background-color: rgb(85, 69, 25);
  text-decoration: none;
}

.old {
  --ifm-alert-background-color: var(--ifm-color-warning-contrast-background);
  --ifm-alert-background-color-highlight: rgba(255, 186, 0, 0.15);
  --ifm-alert-foreground-color: var(--ifm-color-warning-contrast-foreground);
  --ifm-alert-border-color: var(--ifm-color-warning-dark);
  --ifm-code-background: var(--ifm-alert-background-color-highlight);
  --ifm-link-color: var(--ifm-alert-foreground-color);
  --ifm-link-hover-color: var(--ifm-alert-foreground-color);
  --ifm-link-decoration: underline;
  --ifm-tabs-color: var(--ifm-alert-foreground-color);
  --ifm-tabs-color-active: var(--ifm-alert-foreground-color);
  --ifm-tabs-color-active-border: var(--ifm-alert-border-color);
  background-color: var(--ifm-alert-background-color);
  border: var(--ifm-alert-border-width) solid var(--ifm-alert-border-color);
  border-left-width: var(--ifm-alert-border-left-width);
  border-radius: var(--ifm-alert-border-radius);
  box-shadow: var(--ifm-alert-shadow);
  padding: var(--ifm-alert-padding-vertical) var(--ifm-alert-padding-horizontal);
  color: var(--ifm-alert-foreground-color);
  margin-bottom: 1rem;
}

.title {
  margin-top: 0;
  margin-bottom: 8px;
  text-transform: uppercase;
  display: block;
}

.iconspan {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.4em;
}

.icon {
  fill: var(--ifm-alert-foreground-color);
}
