.tableOfContents {
  max-height: calc(
    100vh - (var(--ifm-navbar-height) + 4rem)
  );
  overflow-y: auto;
  position: sticky;
  top: calc(var(--ifm-navbar-height) + 2rem);
  opacity: var(--unhovered-transparency);
  padding: var(--padding);
  border-radius: var(--border-radius);
  filter: grayscale(100%);
}

.tableOfContents:hover {
  background-color: var(--ifm-menu-color-background-active);
  filter: none;
}

.tableOfContents {
  transition: background-color 0.2s ease-in-out filter 0.2s
    ease-in-out;
}
@media (max-width: 996px) {
  .tableOfContents {
    display: none;
  }

  .docItemContainer {
    padding: 0 0.3rem;
  }
}
