.tableOfContents {
  max-height: calc(100vh - var(--ifm-navbar-height) - 4rem);
  overflow-y: auto;
  position: sticky;
  top: calc(var(--ifm-navbar-height) + 2rem);
  padding: var(--padding);
  border-radius: var(--border-radius);
  opacity: var(--unhovered-transparency);
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 1;
  }

  @media (width <= 996px) {
    display: none;
  }
}
