.tableOfContents {
  max-height: calc(100vh - (var(--ifm-navbar-height) + 4rem));
  overflow-y: auto;
  position: sticky;
  top: calc(var(--ifm-navbar-height) + 2rem);
  opacity: var(--unhovered-transparency);
  padding: var(--padding);
  border-radius: var(--border-radius);
  transition: opacity 0.2s ease-in-out;
}

.tableOfContents:hover {
  opacity: 1;
}

@media (max-width: 996px) {
  .tableOfContents {
    display: none;
  }

  .docItemContainer {
    padding: 0 0.3rem;
  }
}
