.tableOfContents {
  max-height: var(--sidebar-max-height);
  overflow-y: auto;
  position: sticky;
  top: var(--sticky-top);
  opacity: var(--unhovered-transparency);
  padding: var(--padding);
  border-radius: var(--border-radius);
  transition: opacity var(--transition-fast);
}

.tableOfContents:hover {
  opacity: 1;
}

@media (width <= 996px) {
  .tableOfContents {
    display: none;
  }

  .docItemContainer {
    padding: 0 0.3rem;
  }
}
