.graphView {
  font-family: var(--font-family-sans-serif) !important;
  background-color: #1f1f1f;
}

.mainContainer {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1f1f1f;
}
