.blogLayout {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

@media (max-width: 996px) {
  .blogLayout {
    padding: 0 1rem;
  }
}

@media (max-width: 640px) {
  .blogLayout {
    padding: 0 0.75rem;
  }
}
