.mainContainer {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  margin: 1rem;
}

/* small devices */
@media (max-width: 640px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}
