.emojiReplaceableText {
  font-weight: 500;
  color: #fe8741;
}

[data-theme='dark'] .emojiReplaceableText {
  font-weight: 500;
  color: #e5732f;
}

.emojiReplaceableText:hover {
  cursor: pointer;
}
