* {
  --font-family-headline: 'SUITE', ui-sans-serif, -apple-system, BlinkMacSystemFont, 'Pretendard', 'Apple Color Emoji',
    'Segoe UI Emoji', system-ui, -system-ui, sans-serif;
  --font-family-sans-serif: 'SUIT', ui-sans-serif, -apple-system, BlinkMacSystemFont, 'Pretendard', 'Apple Color Emoji',
    'Segoe UI Emoji', system-ui, -system-ui, sans-serif;
  --font-family-monospace: ui-monospace, 'SF Mono', SFMono-Regular, Menlo, Consolas, monospace;
  word-wrap: break-word;
  word-break: keep-all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-headline);
  font-feature-settings: 'ss17', 'ss18';
}

article,
aside,
footer,
header,
nav,
section,
figure,
figcaption,
blockquote,
dl,
dd,
dt,
fieldset,
form,
legend,
li,
main,
ol,
p,
pre,
ul,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
button,
input,
textarea {
  font-family: var(--font-family-sans-serif);
  font-feature-settings: 'ss17', 'ss18';
}

pre,
code {
  font-family: var(--font-family-monospace);
}
