/* define variables */

@import url('../../static/fonts/Pretendard/pretendard-subset.css');
@import url('../../static/fonts/JetbrainsMono/jetbrainsmono.css');
@import url('./logo.css');
@import url('./color.css');

h1,
h2,
h3,
h4,
h5,
h6,
article,
aside,
footer,
header,
nav,
section {
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo', Pretendard, system-ui,
    -system-ui, sans-serif, 'Apple Color Emoji';
  word-wrap: break-word;
  word-break: keep-all;
}

@media screen and (min-width: 996px) {
  .navbar__inner {
    margin: 0 auto;
    padding: 0 1rem;
  }
}

pre,
code {
  font-family: 'Jetbrains Mono', monospace;
}

#divider {
  border: 0.5px solid var(--ifm-color-emphasis-200);
}

img {
  border-radius: 0.5rem;
}
