/* define variables */

@import url('./logo.css');
@import url('./color.css');
@import url('./font.css');


@media screen and (min-width: 996px) {
  .navbar__inner {
    margin: 0 auto;
    padding: 0 1rem;
  }
}

#divider {
  border: 0.5px solid var(--ifm-color-emphasis-200);
}

details {
  border: thin solid var(--ifm-color-emphasis-200);
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem 0;
}

summary {
  font-weight: bold;
}

figure {
  display: flex;
  flex-flow: column;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 1rem 0;
}

img {
  margin: 0 auto;
  border-radius: 0.5rem;
  max-height: 25rem;
  width: auto;
}

figure > p {
  margin: 0;
}

figure > p > img {
  display: block;
  margin: 0 auto;
  padding: 0;
  border: 2px solid var(--ifm-color-emphasis-200);
}

figcaption {
  text-align: center;
  margin: 0.5rem auto;
  font-size: 0.8rem;
  color: var(--ifm-color-emphasis-700);
}

hr {
  border: 1px solid var(--ifm-color-emphasis-200);
}
