.scene-tooltip {
  font-size: 2rem;
  font-family: var(--font-family-sans-serif) !important;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(12px);
  border-radius: var(--border-radius);
  padding: 0.5rem;
}

.scene-tooltip:empty {
  display: none;
}

.graph-tooltip {
  font-size: 2rem;
  font-family: var(--font-family-sans-serif) !important;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(12px);
  border-radius: var(--border-radius);
}
