.scene-tooltip {
  font-size: 2rem;
  font-family: var(--font-family-sans-serif) !important;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(12px);
  border-radius: var(--border-radius);
  padding: 0.5rem;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.scene-tooltip:empty {
  opacity: 0;
}

.graph-tooltip {
  font-size: 2rem;
  font-family: var(--font-family-sans-serif) !important;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(12px);
  border-radius: var(--border-radius);
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.graph-tooltip:empty {
  opacity: 0;
}
