.navbar-github-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  transition: opacity 0.2s ease-in-out;
  background: url(../../static/icons/github.svg) no-repeat center;
}

.navbar-github-link:hover::before {
  opacity: 0.6;
}

[data-theme='dark'] .navbar-github-link::before {
  background: url(../../static/icons/github-dark.svg) no-repeat center;
}

.navbar-linkedin-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  transition: opacity 0.2s ease-in-out;
  background: url(../../static/icons/linkedin.svg) no-repeat center;
}

.navbar-linkedin-link:hover::before {
  opacity: 0.6;
}

[data-theme='dark'] .navbar-linkedin-link::before {
  background: url(../../static/icons/linkedin-dark.svg) no-repeat center;
}

.navbar {
  backdrop-filter: blur(12px);
  background: none;
  background-color: rgba(255, 255, 255, 0.3);
}

[data-theme='dark'] .navbar {
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar-hn-ko-link:lang(en-US) {
  display: none;
}

.navbar-hn-en-link:lang(ko-KR) {
  display: none;
}
