@font-face {
  font-family: 'LINE Seed';
  src:
    url('./woff2/LINESeedKR-Bd.woff2') format('woff2'),
    url('./woff/LINESeedKR-Bd.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  unicode-range: U+AC00-D7AF, U+0000-007F;
  font-display: swap;
}

@font-face {
  font-family: 'LINE Seed';
  src:
    url('./woff2/LINESeedKR-Rg.woff2') format('woff2'),
    url('./woff/LINESeedKR-Rg.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  unicode-range: U+AC00-D7AF, U+0000-007F;
  font-display: swap;
}

@font-face {
  font-family: 'LINE Seed';
  src:
    url('./woff2/LINESeedKR-Th.woff2') format('woff2'),
    url('./woff/LINESeedKR-Th.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  unicode-range: U+AC00-D7AF, U+0000-007F;
  font-display: swap;
}
