.searchGoogleButton {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: rgb(255, 255, 255);
  font-weight: 600;
  border-radius: 0.25rem;
  border-width: 1px;
  border-color: #9ca3af;
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  margin-left: auto;
  display: block;
  width: fit-content;
}

.searchGoogleButton:hover {
  background-color: rgb(255, 237, 186);
  text-decoration: none;
}

[data-theme='dark'] .searchGoogleButton {
  background-color: rgb(118, 96, 35);
  border-color: #9ca3af;
  box-shadow:
    0 1px 3px 0 rgba(20, 20, 0, 0.1),
    0 1px 2px 0 rgba(20, 20, 0, 0.06);
}

[data-theme='dark'] .searchGoogleButton:hover {
  background-color: rgb(85, 69, 25);
  text-decoration: none;
}
