.container {
  position: relative;
  width: 100%;
  max-width: 500px;
  aspect-ratio: 1;
  margin: 0 auto;
}

.canvas {
  display: block;
  width: 100%;
  height: 100%;
  cursor: grab;
  contain: layout paint size;
  opacity: 0;
  transition: opacity 1s ease;
}

.buttonControls {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  justify-content: space-between;
}

.button {
  height: 50px;
  width: 50px;
  font-size: 2rem;
  font-weight: 500;
  border-radius: 50%;
  background-color: var(--ifm-color-primary-contrast-background);
  transition: all 0.2s ease;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
