.searchGoogleButton {
  padding: 0.5rem 1rem;
  background-color: rgb(255 255 255);
  font-weight: 600;
  border-radius: var(--border-radius);
  border-width: 1px;
  border-color: var(--color-border-muted);
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 10%),
    0 1px 2px 0 rgb(0 0 0 / 6%);
  text-decoration: none;
  transition: all var(--transition-fast);
  margin-left: auto;
  display: block;
  width: fit-content;
}

.searchGoogleButton:hover {
  background-color: rgb(255 237 186);
  text-decoration: none;
}

[data-theme="dark"] .searchGoogleButton {
  background-color: rgb(118 96 35);
  border-color: var(--color-border-muted);
  box-shadow:
    0 1px 3px 0 rgb(20 20 0 / 10%),
    0 1px 2px 0 rgb(20 20 0 / 6%);
}

[data-theme="dark"] .searchGoogleButton:hover {
  background-color: rgb(85 69 25);
  text-decoration: none;
}
