.searchGoogleButton {
  padding: 0.5rem 1rem;
  background-color: var(--ifm-background-surface-color);
  font-weight: 600;
  border-radius: var(--border-radius);
  border: 1px solid var(--ifm-menu-color-background-active);
  text-decoration: none;
  margin-left: auto;
  display: block;
  width: fit-content;

  &:hover {
    background-color: var(--ifm-menu-color-background-active);
    text-decoration: none;
  }
}
