.searchGoogleButton {
  padding: 0.5rem 1rem;
  background-color: rgb(255 255 255);
  font-weight: 600;
  border-radius: var(--border-radius);
  border-width: 1px;
  border-color: var(--color-border-muted);
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 10%),
    0 1px 2px 0 rgb(0 0 0 / 6%);
  text-decoration: none;
  transition: all var(--transition-fast);
  margin-left: auto;
  display: block;
  width: fit-content;

  &:hover {
    background-color: rgb(220 237 220);
    text-decoration: none;
  }

  [data-theme="dark"] & {
    background-color: rgb(61 79 56);
    border-color: var(--color-border-muted);
    box-shadow:
      0 1px 3px 0 rgb(20 30 20 / 10%),
      0 1px 2px 0 rgb(20 30 20 / 6%);

    &:hover {
      background-color: rgb(43 56 40);
      text-decoration: none;
    }
  }
}
