.container {
  display: grid;
  justify-content: center;
  align-items: center;
}

.globe {
  will-change: opacity;
  width: 900px;
  aspect-ratio: 1;
  margin: 0 auto;
  aspect-ratio: 1;
  border-radius: 50%;
  contain: layout paint size;
  opacity: 0;
  transition: opacity 1s ease;
}
